In [1]:
import pandas as pd
import numpy as np

In [2]:
from factanalpy import factanalpy

Hypothesentest muss noch korrigiert werden im Vergleich mit R output.

### FACTANAL FOR PYTHON

In [3]:
df = pd.DataFrame({"v1": [1,1,1,1,1,1,1,1,1,1,3,3,3,3,3,4,5,6],
                   "v2": [1,2,1,1,1,1,2,1,2,1,3,4,3,3,3,4,6,5],
                   "v3": [3,3,3,3,3,1,1,1,1,1,1,1,1,1,1,5,4,6],
                   "v4": [3,3,4,3,3,1,1,2,1,1,1,1,2,1,1,5,6,4],
                   "v5": [1,1,1,1,1,3,3,3,3,22,1,1,1,322,1,6,4,5],
                   "v6": [1,1,2,1,1,3,3,3,3,22,1,1,1,322,1,6,4,5],
                   "v7": [1,1,4,1,1,3,3,3,3,3,1,2,1,1,1,6,4,5],
                   "v8": [1,1,5,2,1,3,3,3,4,3,1,2,1,2,1,6,5,4]})

In [4]:
len(df)

18

In [38]:
res=factanalpy(df, 3, score= "Bartlett", rotation="promax", verbose=True, return_dict=True)

Uniquenesses:
   v1    v2    v3    v4    v5    v6    v7    v8
0.005 0.113 0.582 0.578 0.005 0.005 0.075 0.005

Loadings:
   Factor1 Factor2 Factor3
v1 -0.129   1.063
v2          0.987
v3  0.284   0.398  -0.150
v4  0.412   0.262  -0.154
v5                  1.015
v6                  1.015
v7  0.963
v8  1.117  -0.185   0.131

               Factor1 Factor2 Factor3
SS loadings      2.458   2.373   2.131
Proportion Var   0.307   0.297   0.266
Cumulative Var   0.307   0.604   0.870

Factor Correlations:
        Factor1 Factor2 Factor3
Factor1  1.0000  -0.279  0.0738
Factor2 -0.2792   1.000 -0.5487
Factor3  0.0738  -0.549  1.0000

Test of the hypothesis that 3 factors are sufficient.
The chi square statistic is 95.69 on 7 degrees of freedom.
The p-value is 8.38e-18

In [39]:
res.keys()

dict_keys(['converged', 'loadings', 'uniquenesses', 'correlation', 'criteria', 'factors', 'dof', 'method', 'rotmat', 'scores', 'STATISTIC', 'PVAL', 'n.obs', 'call'])

In [40]:
pd.DataFrame(res["scores"])

           0         1         2
0  -1.038656 -0.837492 -0.151601
1  -1.033753 -0.812524 -0.153726
2   1.230846 -0.561755 -0.297101
3  -0.497042 -0.776178 -0.185262
4  -1.038656 -0.837492 -0.151601
5   0.100444 -0.706444 -0.200082
6   0.105347 -0.681477 -0.202207
7   0.102801 -0.704474 -0.200954
8   0.646962 -0.620163 -0.235867
9   0.069788 -0.726940  0.051582
10 -0.848494  0.365573 -0.232883
11 -0.268148  0.461540 -0.274205
12 -0.846137  0.367544 -0.233755
13 -0.824808  0.080612  3.985262
14 -0.848494  0.365573 -0.232883
15  2.137136  1.338690 -0.411838
16  1.635788  1.890605 -0.438104
17  1.215076  2.394802 -0.434773

In [23]:
pd.DataFrame(res["correlation"])

,0,1,2,3,4,5,6,7
0,1.000000,0.939308,0.512887,0.432031,0.121026,0.120451,0.402610,0.306138
1,0.939308,1.000000,0.412444,0.408428,0.085704,0.084990,0.372763,0.323972
2,0.512887,0.412444,1.000000,0.877075,-0.193129,-0.192787,0.542874,0.466861
3,0.432031,0.408428,0.877075,1.000000,-0.224930,-0.224177,0.516722,0.540996
4,0.121026,0.085704,-0.193129,-0.224930,1.000000,0.999995,-0.205249,-0.084220
5,0.120451,0.084990,-0.192787,-0.224177,0.999995,1.000000,-0.204521,-0.083103
6,0.402610,0.372763,0.542874,0.516722,-0.205249,-0.204521,1.000000,0.941026
7,0.306138,0.323972,0.466861,0.540996,-0.084220,-0.083103,0.941026,1.000000